.mid-content{
    display: flex;
    justify-content: center;
    align-items: flex-start;
   
   
}
.overview{
    width:70%;
    background-color: white;
    margin:10px;
    padding: 10px 10px;
    border-radius: 5px;
}
.customers{
    width: 30%; 
    background-color: white;
    margin: 10px;
    border-radius: 5px;
    padding: 10px 10px;
    
}
.overview-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.overview-paragraph{
    padding:5px;
}
.overview-paragraph p{
    font-size: 10px; 
}
.overview-quarter{
    background-color: rgba(201, 192, 192, 0.338);
    padding:8px 10px;
    color:grey;
    font-size: 10px;
    border-radius: 5px;
    margin-right: 15px;
   
}
.graph-body{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin: 0px 5px;
}
.graph{
    position:relative;
    width: 30px;
    border-radius: 5px;
    background-color: rgba(201, 192, 192, 0.338);
    bottom: 0px;
}
.overview-graph-body{
    padding:7px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    
}
.jan{
    height: 100px;
}
.feb{
    min-height: 70px;
}
.mar{
    height: 145px;
}
.apr{
    min-height: 110px;
}
.may{
    height: 130px;
}
.jun{
    min-height: 50px;
}
.jul{
    height: 130px;
}
.aug{
    min-height: 160px;
    background-color: rgba(21, 21, 164, 0.765);
}
.sep{
    height: 150px;
}
.oct{
    min-height: 130px;
}
.nov{
    height: 110px;
}
.dec{
    min-height: 140px;
}

.customers-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.customers-paragraph{
    padding:5px;
}
.customers-paragraph p{
    font-size: 10px; 
}
.customers-graph-body{
    padding:7px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;  
    border-radius: 50%;
    width:150px ;
    height: 150px;
    margin: 10px 0px 10px 11%;
}
.customers-graph{
    position: absolute;
    top:0px;
    left:0px;
    border:15px solid rgba(201, 192, 192, 0.338);
    width:150px ;
    height: 150px;
    border-radius: 50%;
    box-shadow: -31px -31px -31px #e78267;
}

.customers-graph-top{
    position: absolute;
    top: -5px;
    border:25px solid rgba(165, 42, 42, 0);
    background: transparent;
    left:-5px;
    width:150px ;
    height: 150px;
    border-radius: 50%;
    border-top-color:rgb(84, 86, 212); ;
    border-right-color:rgb(84, 86, 212);
    transform: rotate(100deg);
    
}

.customers-graph-inner{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: -31px;
    border:35px solid rgba(0, 0, 0, 0);
    background: transparent;
    left:-32px;
    width:150px ;
    height: 150px;
    border-radius: 50%;
    font-size: 12px;
    padding: 12px;
    text-align: center;
    border-right-color:rgb(212, 84, 148);
    transform: rotate(-100deg);
    
}
@media only screen and (max-width: 767px) {
    .mid-content{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .overview{
        width: 90%;  
    }
    .customers{
        width: 90%;  
    }
    .graph{
        width: 15px;
    }
    .graph-body{
        overflow-x: scroll;
    }
}